html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
 box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul{
    list-style: none;
}

body{
    margin: 0;
}

.container{
    margin: 0 154px;
    padding: 24px; 
}


.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  40px 0;
    background: #DDD0C4;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid grey;
}

.logo-header{
    height: 150px;
    width: 150px;
}

.menu__list{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    
}

.menu_item{
    padding: 15px;
    font-size: 16px;
}

.btn-regis{
    margin-right: 30px;
    background: rgba(247, 100, 0, 0.8);
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 16px;
    font-family: "inherit" ;
    font-weight: bold;
    color: lab(100 0 0);
    box-shadow: 4px 4px 10px  gray;
}

.btn-regis:hover{
    background: #C4B7AB;
    color: rgba(245, 100, 0, 0.8);
    border: 1px solid black;
}

.menu_item{
    color: #2F3E30;
    font-weight: bold;
    
}
.menu_item:hover{
    color: rgba(247, 100, 0, 0.8);
}

.container{
    background: #DDD0C4;
}

.Accommodation{
    background: #DDD0C4;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 0 154px;
    padding: 20px;
}

.hero-content{
    flex: 1;
    max-width: 550px;
}

.hero-image-wrapper{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-image-wrapper img {
  max-width: 100%;             /* Картинка не виходитиме за межі свого контейнера */
  height: auto;
  border-radius: 40px;         /* Округлені кути як на макеті */
}

.h1_up{
    font-size: 72px;
    margin: 0;
}

.h1_up2{
    color: rgba(247, 100, 0, 0.8);
}

.hero-text{
    color: lab(42.527 -11.8794 7.6255);
    font-size: 18px;
}

.regis_btn{
    margin: 0;
    width: 220px;
}

.tour_btn{
    background: #DDD0C4;
    color: green;
    border: 3px solid green;
    border-radius: 20px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 70px 0 20px;
    width: 170px;
    box-shadow: 4px 4px 10px  gray;
}

.tour_btn:hover{
    background: green;
    color: #fff;
}

.Accom-icon{
    margin-top: 30px;
}

.icon_accomm{
    width: 16px;
    margin-right: 8px;
}

.Accom-img{
    margin-right: 20px;
}

.headlines{
    font-size: 48px;
    margin-left: 210px;
}

.res_p{
    font-size: 18px;
    margin-left: 50px;
}

.img-diging{
    width: 200px;
    margin-bottom: 15px;
    border-radius: 40px;
    border: 2px solid #2F3E30;
    box-shadow: 4px 4px 10px  gray;
}

.res_bloks{
    display: flex;
    padding: 30px 0 20px 30px;
}

.img-diging{
    width: 500px;
}

.features_list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 0;
}

.features_item{
    background-color: #fff;
    color: #000;
    padding: 20px;
    align-items: center;
    border-radius: 30px;
    border: 3px solid rgba(247, 100, 0, 0.8);
    margin: 0 0 5px 5px;
}